/*HEADER*/
#header {
  height: 80px;
}

#header img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

#header i {
  color: #ff8f00;
}

#header .icon-desktop {
  color: grey;
}

#header #desktop-logo {
  height: 100px;
  width: 150px;
}

/*LEFT-BAR*/
#left-bar {
  width: 100px;
  height: calc(100vh - 80px);
  background-color: #0f263b;
  color: white;
}

#second-left-bar {
  margin-top: 750px;
}

/*MAIN*/
#blue-bar {
  height: 180px;
  width: calc(100vw - 100px);

  background-color: #1b72e8;
  color: white;
}

#blue-bar i {
  border: 1px solid white;
  border-radius: 10%;
  padding: 10px;
}

#blue-bar .round {
  background-color: #165bba;
  border-radius: 10%;
  margin: 10px;
}

.container {
  position: absolute;
  right: 0;
  left: 150px;
  top: 270px;
  height: calc(100vh - 180px - 100px);
  width: calc(100vw - 80px);
  overflow: scroll;
}

.container ul {
  list-style: none;
}

.container a {
  text-decoration: none;
  color: black;
}

.container .col-12,
.container .col-lg-8 {
  border: 1px solid grey;
}

.container .col-12 h2,
.container .col-lg-8 h2 {
  border-bottom: 1px solid grey;
}

.col-4 i {
  color: white;
  background-color: red;
  border-radius: 20px;
  padding: 5px;
  margin-right: 10px;
}

.green-btn {
  color: white;
  background-color: green;
  border-radius: 10px;
}

.red-btn {
  color: white;
  background-color: red;
  border-radius: 10px;
}

.yellow-btn {
  color: white;
  background-color: orange;
  border-radius: 10px;
}

.grey-btn {
  color: grey;
  border: 1px solid grey;
  width: 40px;
}

.to-do {
  position: absolute;
  right: 0;
}
